@model WebApp6.Models.PaginationViewModel<ProductViewModel>

@{
    ViewData["Title"] = "GetAll";
}

<h1>NorthwindProducts</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Product")
            </th>
            <th>
                @Html.DisplayName("Category")
            </th>
            <th>
                @Html.DisplayName("Price")
            </th>
            <th>
                @Html.DisplayName("Units in stock")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Collection)
        {
            var price = item.UnitPrice.ToString("c");
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>

                <td>

                    @Html.DisplayFor(modelItem => price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitsInStock)
                </td>
                @if (User.IsInRole("Employee"))
                 {
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                }
                else
                {

                }
            </tr>
        }
    </tbody>
</table>

<h1>
    current page @Model.PagingInfo.CurrentPage
</h1>
@Html.ActionLink("NextPage", "GetAll", "Product", new { offset = ++Model.PagingInfo.CurrentPage * PagingInfo.ItemsPerPage, limit = PagingInfo.ItemsPerPage }, null)
